h2{
    padding: 1.5em;
    
}
.divTitulo{
    text-align: center;
    justify-content: center;
    align-items: center;
}
#divVideo{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 6.25em;

}
#video{
    width: 55em;
    height: 35em;
}
article{
    padding: 1em;
}
#textoIndex{
    justify-content: center;
    align-items: center;
}
#divimgIndex{

    text-align: center;
    align-items: center;
    justify-content: center;
}
#imgIndex{
    max-width: 38em;
    max-height: 18.9em;
}
.divSON{
    padding-bottom: 4em;
    padding-left: 2.5em;
    padding-right: 2em;
    
}
