*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    text-decoration: none;

    font-family: "Gill Sans", sans-serif;
}
body{
    background-color: white;
	height: 100%;
	width: 100%;

}

header{
    background-color: #eabae7;
	height: 10%;
    color: #c979c4;
}
h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

nav{
    height: 5%;
    width: 100%;
    background-color:#c979c4;
    text-align: center;
 
}

#llistaDesplegable {
    list-style: none inside;
    text-align: center;
}
    
#llistaDesplegable li {
    display: block;
    position: relative;
    float: left;
    background-color: #c979c4;    
}
    
#llistaDesplegable li a {
    display: block;
    text-decoration: none;
    width: 25vw;        
    line-height: 2vw;
    color: #ffffff;
}
    
#llistaDesplegable li:hover {
    background-color:#eabae7;
}
    
#llistaDesplegable ul {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
}

    
#llistaDesplegable li:hover ul {
    display: block;
}

main{
    height: 70%;
    overflow: scroll;
    overflow-x: hidden;
}
/* Estilo del scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Tamaño scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #c979c4; /* Color fondo scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d94ed0; /* Color de scrollbar  */
    border-radius: 6px; /* Borde redondeado del thumb */
  }

  ::-webkit-scrollbar-thumb:hover {   /* Cambio de color al pasar por encima */
    background-color: rgb(161, 13, 161);
  }

/* Hide scrollbar for Chrome, Safari and Opera */
/*main::-webkit-scrollbar {
    display: none;
  }*/
  
  /* Hide scrollbar for IE, Edge and Firefox */
 /*main {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }*/

footer{
    height: 15%;
    background-color: #eabae7;
    justify-content: center;
    display: flex;
    text-align: center;

    position: fixed;
   left: 0;
   bottom: 0;

}
footer a:hover{
    color: white;
}
.footerBox{
    flex: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.footerBox p, a {
    margin-bottom: 10px; 
    
}

.alignLeft{
    text-align: left;
    align-items: left;
}


