*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    text-decoration: none;

    font-family:courier,arial,helvetica;

}
body{
    background-color: #f5e6f4;
	height: 100vh;
	width: 100vw;

}

header{
    background-color: #c979c4;
	height: 10%;
    color: rgb(114, 6, 109);
}
h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

nav{
    height: 5%;
    width: 100%;
    background-color:rgb(114, 6, 109);
    text-align: center;
 
}

#llistaDesplegable {
    list-style: none inside;
    text-align: center;
}
    
#llistaDesplegable li {
    display: block;
    position: relative;
    float: left;
    background-color: rgb(114, 6, 109);    
}
    
#llistaDesplegable li a {
    display: block;
    text-decoration: none;
    width: 25vw;        
    line-height: 2vw;
    color: #ffffff;
}
    
#llistaDesplegable li:hover {
    background-color:#c979c4;
}
    
#llistaDesplegable ul {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
}

    
#llistaDesplegable li:hover ul {
    display: block;
}

main{
    height: 70%;
}

footer{
    height: 15%;
    background-color: #c979c4;
    justify-content: center;
    display: flex;
    text-align: center;

}
.footerBox{
    flex: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.footerBox p, a {
    margin-bottom: 10px; 
}


