h2{
    padding: 0.5em;
}

#divVideo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}
#video{
    width: 35em;
    height: 19.68em;
}

article{
    display: flex;
    flex-direction: row;
}

#textoIndex{
    display: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#divimgIndex{
    display: 1;
    display: flex;
}
#imgIndex{
    display: flex;
    width: 10em;
    height: 10em;
}
