@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
    text-decoration: none;
}
body{
	background-image: url(img/fondo.jpg);
	background-size: cover;
    background-color: #f5e6f4;
	height: 100vh;
	width: 100vw;
	/*
    color:rgb(114, 6, 109);
    #c979c4;
    #f5e6f4
    */
}

header{
    background-color: #c979c4;
	height: 10%;
    color: rgb(114, 6, 109);
}
h1{
    text-align: center;
    padding: 0.4em;
}

nav{
    height: 5%;
    width: 100%;
    background-color:rgb(114, 6, 109);;
    text-align: center;
 
}

#llistaDesplegable {
    list-style: none inside;
    text-align: center;
}
    
#llistaDesplegable li {
    display: block;
    position: relative;
    float: left;
    background-color: rgb(114, 6, 109);    
}
    
#llistaDesplegable li a {
    display: block;
    text-decoration: none;
    width: 25vw;        
    line-height: 2vw;
    color: #ffffff;
}
    
#llistaDesplegable li:hover {
    background-color:#c979c4;
}
    
#llistaDesplegable ul {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
}

    
#llistaDesplegable li:hover ul {
    display: block;
}

main{
    height: 70%;
}

footer{
    height: 15%;
    background-color: #c979c4;
    justify-content: center;
    display: flex;
    text-align: center;
}
.footerBox{
    flex: 1;
    padding: 0,5em;
    display: flex;
    flex-direction: column;
}
