@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
	background-image: url(img/fondo.jpg);
	background-size: cover;

	height: 100vh;
	width: 100vw;
}

header{
    background-color: #c979c4;
	padding: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#titol
{
	color:rgb(114, 6, 109);
	
	flex: 1;

	display: flex;

	border: 1px solid black;
}


#menu-desplegable{
    text-align: left;
    flex: 4;

	display: flex;
    justify-content: space-between;
    align-items: center;

	border: 1px solid black;
}

nav{
	margin: auto;
	background-color: #c979c4;
	font-size: 1em;
}
.menu-horizontal{
	list-style: none;
	display: flex;	
	justify-content: space-between;
}


.menu-horizontal li a{
	padding: 1px;
	color: white;
	text-decoration: none;
	border: 1px solid black;

	flex: 1;
}


.menu-horizontal li:hover{
	background-color: rgb(114, 6, 109);
}


.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;

	background-color: rgb(114, 6, 109);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: #c979c4;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;

}