h2{
    padding: 0.5em;
}

#divVideo{
    text-align: center;
    align-items: center;
    justify-content: center;

}
#video{
    width: 50em;
    height: 20em;
}
article{
    padding: 1em;
}
.articleText{
    padding-top: 2em;
}
#textoIndex{
    justify-content: center;
    align-items: center;

    padding-left: 1em;
}
#divimgIndex{

    text-align: center;
    align-items: center;
    justify-content: center;
}
#imgIndex{
    max-width: 38em;
    max-height: 18.9em;
}
