h2{
    padding: 0.5em;
}

#divDAD{
    align-items: center;
    justify-content: center;

}
.divSON{
    padding: 1em;
}
#imgSimptomes{
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 1em;
    width: 1em;
}
table{
    border-collapse: separate;
    border-spacing: 3em;
}