h2{
    padding: 2em;
    padding-bottom: 0em;
}
h3{
    padding: 2em;
}
.divSON{
    padding-left: 2em;
    padding-top: 0.60em;
    padding-bottom: 0.60em;
}
.divSON p{
    padding: 0.5em;
}
#imgDiagnostics{
    max-width: 20em;
    max-height: 20em;
}
.divImg{
    justify-content: center;
    align-items: center;
    text-align: center;

}