h2{
    padding: 1.5em;
}

.divSON{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}
.divGRANDSON{
    padding: 1em;

    justify-content: center;
    align-items: center;
    text-align: center;
}
.divText{
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    text-align: justify;

}
.divTextooo{
    padding-top: 2.5em;
    padding-left: 2.5em;
    align-items: center;
    text-align: left;
}
.divTextFinal{
    padding: 0.5em;
    padding-left: 2.5em;
    
    justify-content: center;
    text-align: left;
}
.divImg{
    padding-top: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#imgSimptomes{
    max-height: 35em;
    max-width: 35em;
}
table{
    border-collapse: separate;
    border-spacing: 3em;
}
#divBottom{
    padding-bottom: 3em;
}