h2{
    padding: 2em;
    padding-bottom: 0em;
}
h3{
    padding-bottom: 1em;
}
.divSON{
    padding: 4em;

    justify-content: center;
    align-items: center;
    text-align: center;
}
.divImg{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.imgFamiliars{
    max-height: 20em;
    max-width: 20em;

    
}