.divDAD{
    padding: 2em;
}
.divSON{
    padding: 1em;
}

.imgInvestigacio{
    height: 15em;
    width: 40em;

}
.divImgInv{
    align-items: center;
    text-align: center;
    justify-content: center;
}