.divDAD{
 padding: 2em;    
}
.divSON{
    padding: 1em;
}

.tabla{
    justify-content: center;
    align-items: center;
    text-align: center;
}
th{
    padding-left: 5em;
    padding-right: 5em;
}
table tr, td{
    padding: 1em;
}

