h2{
    padding: 2em;
}
.divSON{
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: justify;
}
.divImg{
    padding: 2em;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#medicamentsImg{
    max-width: 20em;
    max-height: 20em;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.table{
    padding: 2em;
}
table tr, td{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.60em;
    padding-right: 0.60em
}
#divBottom{
    padding-bottom: 2.5em;
}
/*.divDAD{
 padding: 2em;    
}
.divSON{
    padding: 1em;
}

.tabla{
    justify-content: center;
    align-items: center;
    text-align: center;
}
th{
    padding-left: 5em;
    padding-right: 5em;
}
table tr, td{
    padding: 1em;
}*/

