h2{
    padding: 2em;
}

.divSON{
    padding: 2em;

    align-items: center;
    text-align: center;
    justify-content: center;
}

.imgCauses{
    max-width: 10em;
    max-height: 10em;
}
.divGRANDSON{
    align-items: center;
    text-align: center;
    justify-content: center;
}