h2{
    padding: 1.5em;
}
.divSON{
    padding: 1em;
    padding-bottom: 2.5em;
}
.imgorigen{
    width: 20em;
    height: 20em;

}
.divGRANDSON{
    padding-left: 1.5em;
    text-align: justify;
}
.divImg{
    text-align: center;
    justify-content: center;
    align-items: center;
}