
h2{
    padding: 2em;
    padding-bottom: 1.5em;
}
.divGRANDSON{
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.divImg{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}
.imgTIPUS{
    height: 25em;
    width: 25em;
    
}
